.slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #64af91;
    border-radius: 8px;
}

.slide-content {
    text-align: left;
    flex: 1;
    margin-right: 20px;
}

.slide-content h2 {
    color: #ff6596;
    margin-bottom: 15px;
}

.host-invitados {
    margin-bottom: 20px;
}

.host-invitados h3 {
    color: #00ffec;
    text-shadow: -2px 2px 1px black;
}

.host-invitados p {
    margin: 5px 0;
}

.resumen h3 {
    color: #ce74ff;
    text-shadow: -2px 2px black;
}

.resumen p {
    color: #001316;
    margin-bottom: 15px;
}

.slide-image {
    position: absolute;
    top: 140px;
    right: 85px;
    z-index: 0;
}

.slide-image img {
    max-width: 925px;
    border-radius: 8px;
}

/* Contenedor del slider */
.slider {
    position: relative;
    display: flex;
    align-items: center;
}

.slide {
    min-height: 80vh;
}

/* Controles del slider */
.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}

.slider-control.prev {
    position: fixed;
    left: 25px;
    margin-top: 0rem !important;
}

.slider-control.next {
    position: fixed;
    right: 25px;
    margin-top: 0rem !important;
}

.slider-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.textAln {
    margin-right: 68%;
}

.hovIn:hover {
    color: #f3ef41;
    text-shadow: -2px 2px black;
}

@media (max-width: 2000px) {
    .slide-image img {
        max-width: 925px;
        margin-top: -13%;
        margin-right: -3.4rem;
    }
}

@media (max-width: 1900px) {
    .slide {
        padding: 15px;
    }

    .slide-image img {
        max-width: 925px;
        top: 100px;
        right: 50px;
        margin-right: 2.3rem;
    }
}

@media (max-width: 1700px) {
    .slide {
        padding: 15px;
    }

    .slide-image img {
        max-width: 634px;
        margin-top: -11%;
        right: 50px;
        margin-right: 2.3rem;
    }
}

@media (max-width: 1250px) {
    .slide {
        padding: 15px;
    }

    .slide-image img {
        max-width: 500px;
        top: 100px;
        right: 50px;
        margin-right: 2.5rem;
    }
}

@media (min-width: 884px) and (max-width: 1050px) {
    .slide {
        padding: 15px;
    }

    .slide-image img {
        max-width: 500px;
        top: 100px;
        right: 50px;
        margin-left: 14%;
        margin-right: 11%;
    }
}

@media (min-width: 769px) and (max-width: 883px) {
    .slide {
        padding: 15px;
    }

    .slide-image img {
        max-width: 383px;
        top: 100px;
        right: 50px;
        margin-left: 14%;
        margin-right: 11%;
    }
}

@media (max-width: 768px) {
    .slide {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav ul {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .social-links {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }


    .slide-image {
        position: static;
        margin-left: 0;
        margin-top: 10px;
    }

    .slide-image img {
        background-position: center;
        max-width: 66%;
        height: auto;
        margin-left: 9%;
        margin-top: 2%;
    }

    .slide-content {
        text-align: center;
    }

    .social-links {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .social-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-width: 600px;
        margin: 0 auto;
    }

    .slide-content {
        margin-right: 0;
        text-align: center;
    }

    .textAln {
        margin-left: 14%;
        margin-right: 11%;
    }
}

@media (max-width: 480px) {
    .slide {
        padding: 10px;
    }

    .social-links {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .social-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-width: 600px;
        margin: 0 auto;
    }

    .slide-content {
        margin-right: 0;
        text-align: center;
    }

    .slide-image img {
        width: 100%;
        max-width: none;
        border-radius: 8px;
        margin-left: -1px;
        margin-top: -2%;
    }

    .textAln {
        margin-left: 14%;
        margin-right: 11%;
    }

    .sliderLeftArrow {
        margin-left: -2.5%;
    }

    .sliderRightArrow {
        margin-right: -2.5%;
    }

    .lowqe {
        color: #001316;
        padding-left: 10px;
        font-size: 12px;
        margin-left: -65px;
        margin-right: -40px;
    }
}

@media (min-width: 380px) {
    .lowqe {
        color: #001316;
        padding-left: 10px;
        font-size: 12px;
        margin-left: -65px;
        margin-right: -40px;
    }

}

.clase1 {
    position: relative;
}